<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/686/686458.png">
        <title>Cinema</title>
    </head>
  <body>
      <style>
          body {
            background-color: #FDFCF0;
        }
      </style>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <!-- 로그인 했을 때 -->
          <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"><head>
               <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

               <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
               <meta http-equiv="Expires" content="-1">
               <meta http-equiv="Pragma" content="no-cache">
               <meta http-equiv="Cache-Control" content="No-Cache">
               <meta http-equiv="imagetoolbar" content="no">
               <meta name="viewport" content="width=1024">

               
               <meta id="ctl00_og_image" property="og:image" content="http://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png">
               <link rel="alternate" href="http://m.cgv.co.kr">
               <title id="ctl00_headerTitle"></title>
               <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
               <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
               <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css">
            </head>
           
            <!-- 메인 콘텐츠 -->
           <div id="cgvwrap">  
             <!-- Header -->
             <div id="header">
               <div class="head">                 
                       <!-- 서비스 메뉴 --> 
                       <h1><a><img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV"></a></h1> 
                       <!-- 상표 -->

                    <div class="sect-service">
                        <ul class="gnb">
                            <a href="/auth/logout" class="logout" title="로그아웃"><img src="https://cdn-icons-png.flaticon.com/128/3580/3580175.png" width="30px" height="30px"></a>
                        </ul>
                        <div style="position: absolute; right: 760px; bottom: 5px;">
                            <div class="user-name" style="font-family: Times New Roman; font-weight: bold">{{'안녕하세요. ' + user.nick + '님 반갑습니다.'}}
                                <div style="position: absolute; right: -90px; bottom: 0px;">
                                    <a id="profile" href="/profile" class="btn">마이페이지</a>
                                </div>
                                <div style="position: absolute; right: -20px; bottom: 1px;">
                                    <img src="https://cdn-icons-png.flaticon.com/128/132/132233.png" width="15px" height="15px">
                                </div>
                            </div>
                        </div>
                    </div>
                       <!-- 서비스 메뉴 -->
                       
                       <div class="im-wrap"> <!-- Important wrap -->
                   <h2><img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png" alt="CULTUREPLEX"></h2>
                   
           
           <!-- 통합검색 -->
                   <div class="lnb">
                     <h2>CGV 주메뉴</h2>
                     <ul id="gnb_list">
                       <li class="movie"><a id="movies" href="/movies" class="btn">영화</a></li>
                       <li class="booking"><a href="/ticket">예매</a></li>
                     </ul>
                   </div>                   
                 </div>
               </div>
             </div>

             <!-- <div id="contaniner" class="">벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->
               <div id="contents" class="">
        
           <!-- 실컨텐츠 시작 -->
               <div class="wrap-movie-chart">
                   <!-- Heading Map Multi -->
                   <div class="tit-heading-wrap">
                       <h3>무비차트</h3>
                      
                       <div class="submenu">
                           <ul>
                               <li class="on"><a>무비차트</a></li>
                           </ul>
                       </div>
                   </div>
                   <!-- //Heading Map Multi -->
                   
                   <div class="sect-movie-chart">
                       <h4 class="hidden">
                           무비차트 - 예매율순
                       </h4>
                       <ol>
                        <li>
                            <div class="box-image">
                                <strong class="rank">No.1</strong>	
                                <a href="/movie1">
                                    <span class="thumb-image">
                                        <img src="https://dimg.donga.com/wps/NEWS/IMAGE/2021/11/08/110138868.2.jpg" alt="스파이더맨-노 웨이 홈 포스터">
                                        <span class="ico-grade grade-12">12세 이상</span>
                                    </span>
                                    <strong class="no1">1위</strong>
                                </a>
                                <span class="screentype">
                                    
                                </span>
                            </div>
                        
                            <div class="box-contents">
                                <a>
                                    <strong class="title">스파이더맨-노 웨이 홈</strong>
                                </a>
    
                                <div class="score">
                                    <strong class="percent">예매율<span>60.2%</span></strong>
                                </div>
    
                                <span class="txt-info">
                                    <strong>
                                        2021.12.15 
                                        <span>개봉</span>
                                    </strong>
                                </span>
                                <span class="like"> 
                                    <a class="link-reservation" href="/ticket">예매</a>
                                </span>
                            </div>    
                        </li>
                       
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.2</strong>	
                                   <a href="/movie2">
                                       <span class="thumb-image">
                                           <img src="https://file.mk.co.kr/meet/neds/2021/08/image_readtop_2021_794580_16291763454753537.jpg" alt="베놈2 포스터">
                                           <span class="ico-grade grade-15">15세 이상</span>
                                       </span> 
                                   </a>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">베놈 2</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>30.1%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2021.10.01 
                                           <span>개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a> 
                                       <!-- 예매 -->
                                   </span>
                               </div>    
                           </li>
                
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.3</strong>	
                                   <a href="/movie3">
                                       <span class="thumb-image">
                                           <img src="https://upload.wikimedia.org/wikipedia/ko/7/7f/%EA%B2%A8%EC%9A%B8%EC%99%95%EA%B5%AD2_%ED%8F%AC%EC%8A%A4%ED%84%B0.jpg" alt="겨울왕국2 포스터">
                                           <span class="ico-grade grade-all">전체이용가</span>
                                       </span>
                                       
                                   </a>
                                   <span class="screentype">
                                       
                                   </span>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">겨울왕국 2</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>13.4%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2019.11.21 
                                           <span>재개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>

                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.4</strong>	
                                   <a href="/movie4">
                                       <span class="thumb-image">
                                           <img src="https://ww.namu.la/s/cd7ef1a7c64d8170fa0450296fe3b1dbee1b3b3cfafbfc1a94da82fa5063962ffe4d491e0fb949296fe1fa81c58d72accd632e2e4c0a53a373af889d393e3ef827ad235313b86a91b3af06dd120f9d3889af200d1efa776bdb5e9116258f06a6" alt="인비저블맨 포스터">
                                           <span class="ico-grade grade-15">15세 이상</span>
                                       </span>
                                       
                                   </a>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">인비저블맨</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>5.8%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2021.10.20 
                                           <span>개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>
                       
                       </ol>
           
                       <ol>
                       
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.5</strong>	
                                   <a href="/movie5">
                                       <span class="thumb-image">
                                           <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84942/84942_320.jpg" alt="강릉 포스터">
                                           <span class="ico-grade grade-19">청소년 관람불가</span>
                                       </span>
                                   </a>
                                   <span class="screentype">
                                       
                                   </span>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">강릉</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>5.5%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2021.11.10 
                                           <span>개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>
                       
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.6</strong>	
                                   <a href="/movie6">
                                       <span class="thumb-image">
                                           <img src="https://file2.nocutnews.co.kr/newsroom/image/2017/12/04/20171204131928588431.jpg" alt="1987 포스터">
                                           <span class="ico-grade grade-15">15세 이상</span>
                                       </span>
                                   </a>
                                   <span class="screentype">
                                       
                                   </span>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">1987</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>5.0%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2021.11.10 
                                           <span>재개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>
                       
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.7</strong>	
                                   <a href="/movie7">
                                       <span class="thumb-image">
                                           <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84945/84945_320.jpg" alt="듄 포스터">
                                           <span class="ico-grade grade-12">12세 이상</span>
                                       </span>
                                   </a>
                                   <span class="screentype">
                                       
                                   </span>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">듄</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>4.3%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2021.10.20 
                                           <span>개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>
                       
                           <li>
                               <div class="box-image">
                                   <strong class="rank">No.8</strong>	
                                   <a href="/movie8">
                                       <span class="thumb-image">
                                           <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000077/77772/77772_320.jpg" alt="비긴 어게인 포스터">
                                           <span class="ico-grade grade-15">15세 이상</span>
                                       </span>
                                   </a>
                                   <span class="screentype">
                                       
                                   </span>
                               </div>
                               
                               <div class="box-contents">
                                   <a>
                                       <strong class="title">비긴 어게인</strong>
                                   </a>
           
                                   <div class="score">
                                       <strong class="percent">예매율<span>1.0%</span></strong>
                                   </div>
           
                                   <span class="txt-info">
                                       <strong>
                                           2020.12.31 
                                           <span>재개봉</span>
                                           
                                       </strong>
                                   </span>
                                   <span class="like"> 
                                       <a class="link-reservation" href="/ticket">예매</a>
                                   </span>
                               </div>    
                           </li>
                       
                       </ol>
                       
           
                       <ol id="movie_more_container" style="display:none" class="list-more">
                           <li></li>
                       </ol>
                   </div>
               </div><!-- .sect-moviechart -->
           </body></html>
        {% else %}

        <style>
            body {
            background-image: url('https://slowalk.co.kr/wp-content/uploads/2021/07/20210701_063035.png');
            /* 배경 이미지 */
          }
          INPUT{
            BORDER-BOTTOM: rgb(0, 0, 0) 1px solid;
            BORDER-LEFT: medium none;
            BORDER-RIGHT: medium none;
            BORDER-TOP: medium none;
            FONT-SIZE: 9pt
            }
        .text-font{
            width:300px;
            height:30px;
            font-size:18px;
            background-color: #FFFCEB;
        }
        .icon-size{
            width:25px;
            height:25px;
        }
        </style>
          <form id="login-form" action="/auth/login" method="post"> 
            <!-- method:post auth 는 router.post 에서의 데이터베이스 데이터 저장  -->

            <div style="position: absolute;">
                <div style="position: relative; top: -30px; left: -30px;">
                    <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTA4MjhfMjAx/MDAxNTY2OTg3ODE4NDI5.ND-t2qf0qriOFmPj0fSorkuocIp5ESJN60eipmDSOTwg.qAoY-zoRbnJ_vM6hH1fiNpS3_2G75OX5OP-i6YQaZXcg.JPEG.eej0328/1.jpg?type=w800" width="1200px" height="860px">
              <!-- 포스터 뒷배경 -->
                </div>
                    <div style="position: relative; top: 150px; left: 750px;">
                        <img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png">
                        <!-- CGV 로고 -->
                        <!-- <div style="height:10px;text-align: right;line-height:10px;"> -->
                        <div style="position: absolute; right: -650px; bottom: -470px;">
                            <div style="position: absolute; right: 40px; bottom: 320px;"><h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 40px;">로그인</h1></div>
                            <!-- "로그인" -->
                                <p style="font-size:30px;">
                                    <input class="underline text-font" id="email" type="email" name="email" required autofocus ><br><br>
                                    <!-- 아이디 입력칸 -->
                                    <input class="underline text-font" id="password" type="password" name="password" required><br><br>
                                    <!-- 비밀번호 입력칸 -->
                                        <div style="position: relative; top: -30px; left: 105px;">
                                            <button id="login" type="submit" class="btn" style="width: 60pt; height: 30pt;">로그인</button>
                                            <!-- 로그인 버튼 -->
                                        </div>
                                    <a id="join" href="/join" class="btn">회원가입</a>
                                    <!-- 회원가입 버튼 -->
                                </p>
                                <div style="position: relative; top: -320px; left: -75px;">
                                    <img src="https://cdn-icons-png.flaticon.com/128/456/456212.png" class="icon-size"> 
                                    <!-- 로그인아이콘 -->
                                </div>
                                <div style="position: relative; top: -237px; left: -75px;">
                                    <img src="https://cdn-icons-png.flaticon.com/128/483/483408.png" class="icon-size">
                                    <!-- 패스워드아이콘 -->
                                </div>
                    </div>
                </div>
            <style>
              img {
                position : absolute;
                left : 350px;
                top : 60px;
              }
            </style>
            <body>
              <img src="https://blog.kakaocdn.net/dn/D3cYY/btrc4ESci2c/3MvTF0WBGgs0gb1syRjDz0/img.jpg">
              <!-- 영화 포스터 -->
            </body>
            </div>
          </form>
        {% endif %}
        </div>
      </div>
    </div>

    {% block script %}
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% endblock %}
  </body>
</html>
