<head>
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/686/686458.png">
  <title>Cinema</title>
</head>
<style>
  body {
    background-color: #FDFCF0;
}
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="No-Cache">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=1024">

  
  <meta id="ctl00_og_image" property="og:image" content="http://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png">
  <link rel="alternate" href="http://m.cgv.co.kr">
  <title id="ctl00_headerTitle"></title>
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css">
</head>

<!-- 메인 콘텐츠 -->
<div id="cgvwrap">  
<!-- Header -->
<div id="header">
  <div class="head">                 
          <!-- 서비스 메뉴 --> 
          <h1><a><img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV"></a></h1> 
          <!-- 상표 -->

       <div class="sect-service">
        <ul class="gnb">
          <a href="/movies" class="logout" title="뒤로가기"><img src="https://cdn-icons-png.flaticon.com/128/25/25694.png" width="30px" height="30px"></a>
        </ul>
           <div style="position: absolute; right: 760px; bottom: 5px;">
               <div class="user-name" style="font-family: Times New Roman; font-weight: bold">{{'안녕하세요. ' + user.nick + '님 반갑습니다. '}}
                   <div style="position: absolute; right: -90px; bottom: 0px;">
                       <a id="profile" href="/profile" class="btn">마이페이지</a>
                   </div>
                   <div style="position: absolute; right: -20px; bottom: 1px;">
                       <img src="https://cdn-icons-png.flaticon.com/128/132/132233.png" width="15px" height="15px">
                   </div>
               </div>
           </div>
       </div>
          <!-- 서비스 메뉴 -->
          
          <div class="im-wrap"> <!-- Important wrap -->
      <h2><img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png" alt="CULTUREPLEX"></h2>
      

<!-- 통합검색 -->
      <div class="lnb">
        <h2>CGV 주메뉴</h2>
        <ul id="gnb_list">
          <li class="movie"><a id="movies" href="/movies" class="btn">영화</a></li>
          <li class="booking"><a href="/ticket">예매</a></li>
        </ul>
      </div>                   
    </div>
  </div>
</div>

<div id="contaniner" class="">
<div id="contents" class="">

  <div class="wrap-movie-detail" id="select_main">

    
    <div class="tit-heading-wrap">
        <h3>영화상세</h3>
    </div>
    <div class="sect-base-movie">
        <h3><strong>싸반</strong>기본정보</h3>
        <div class="box-image">
            <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000077/77772/77772_320.jpg" title="포스터 크게 보기 새창" target="_blank">
                <span class="thumb-image"> 
                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000077/77772/77772_320.jpg" alt="싸반 포스터 새창" onerror="errorImage(this)">
                    <span class="ico-posterdetail">포스터 크게 보기</span>
                    <span class="ico-grade grade-15"> 15세 이상</span>
                </span> 
            </a> 
        </div>
        <div class="box-contents">
            <div class="title"> 
                <strong>비긴 어게인</strong>
                <p>Begin Again</p>
            </div>
            <div class="score"> 
                <strong class="percent">예매율&nbsp;<span>1.0%</span></strong>
            <div class="spec">
                <dl>
                    <dt>감독 :&nbsp;</dt>
                    <dd>     
                      <a>존 카니</a>                      
                    </dd>
                    <dd>
                    </dd>
  
                    <dt>&nbsp;/ 배우 :&nbsp;</dt>
                    <dd class="on">      
                      <a>키이라 나이틀리</a>                    
                      ,&nbsp;
                      <a>마크 러팔로</a>                    
                      ,&nbsp;
                      <a>애덤 리바인</a>
                      ,&nbsp;
                      <a>헤일리 스테인펠드</a>                        
                    </dd>
    
                    <dt>장르 :&nbsp;로맨스,&nbsp;멜로</dt> 
                    <dd></dd>
                    <dt>&nbsp;/ 기본 :&nbsp;</dt>
                    <dd class="on">15세 이상,&nbsp;104분,&nbsp;미국</dd>
                    <dt>개봉 :&nbsp;</dt>
                    <dd class="on">2020.12.31</dd>
                </dl>
            </div>
            <span class="like">
              <a class="link-reservation" href="/ticket">예매</a> 
            </span>
        </div>
      </div>
    
        <div class="cols-content" id="menu">
            <div class="col-detail">
                <div class="sect-story-movie">
                  “다시 시작해, 너를 빛나게 할 노래를!”<br>
    <br>
    싱어송라이터인 ‘그레타’(키이라 나이틀리)는 남자친구 ‘데이브’(애덤 리바인)가 메이저 음반회사와 계약을 하게 되면서 뉴욕으로 오게 된다.<br>
    그러나 행복도 잠시, 오랜 연인이자 음악적 파트너로서 함께 노래를 만들고 부르는 것이 좋았던 그레타와 달리 스타가 된 데이브의 마음은 어느새 변해&nbsp;<br>
    버린다.<br>
    <br>
    스타 음반프로듀서였지만 이제는 해고된 ‘댄’(마크 러팔로)은 미치기 일보직전 들른 뮤직바에서 그레타의 자작곡을 듣게 되고 아직 녹슬지 않은 촉을 살<br>
    려 음반제작을 제안한다.<br>
    거리 밴드를 결성한 그들은 뉴욕의 거리를 스튜디오 삼아 진짜로 부르고 싶었던 노래를 만들어가는데…<br>
    &nbsp;
      </div>
  </div>
</div>
