<head>
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/686/686458.png">
  <title>Cinema</title>
</head>
<style>
  body {
    background-color: #FDFCF0;
}
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="No-Cache">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=1024">

  
  <meta id="ctl00_og_image" property="og:image" content="http://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png">
  <link rel="alternate" href="http://m.cgv.co.kr">
  <title id="ctl00_headerTitle"></title>
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css">
  <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css">
</head>

<!-- 메인 콘텐츠 -->
<div id="cgvwrap">  
<!-- Header -->
<div id="header">
  <div class="head">                 
          <!-- 서비스 메뉴 --> 
          <h1><a><img src="https://img.cgv.co.kr/R2014/images/title/h1_cgv.png" alt="CGV"></a></h1> 
          <!-- 상표 -->

       <div class="sect-service">
        <ul class="gnb">
          <a href="/movies" class="logout" title="뒤로가기"><img src="https://cdn-icons-png.flaticon.com/128/25/25694.png" width="30px" height="30px"></a>
        </ul>
           <div style="position: absolute; right: 760px; bottom: 5px;">
               <div class="user-name" style="font-family: Times New Roman; font-weight: bold">{{'안녕하세요. ' + user.nick + '님 반갑습니다. '}}
                   <div style="position: absolute; right: -90px; bottom: 0px;">
                       <a id="profile" href="/profile" class="btn">마이페이지</a>
                   </div>
                   <div style="position: absolute; right: -20px; bottom: 1px;">
                       <img src="https://cdn-icons-png.flaticon.com/128/132/132233.png" width="15px" height="15px">
                   </div>
               </div>
           </div>
       </div>
          <!-- 서비스 메뉴 -->
          
          <div class="im-wrap"> <!-- Important wrap -->
      <h2><img src="https://img.cgv.co.kr/R2014/images/title/h2_cultureplex.png" alt="CULTUREPLEX"></h2>
      

<!-- 통합검색 -->
      <div class="lnb">
        <h2>CGV 주메뉴</h2>
        <ul id="gnb_list">
          <li class="movie"><a id="movies" href="/movies" class="btn">영화</a></li>
          <li class="booking"><a href="/ticket">예매</a></li>
        </ul>
      </div>                   
    </div>
  </div>
</div>
<div id="contaniner" class="">

<div id="contents" class="">

<!-- 실컨텐츠 시작 -->
<div class="wrap-movie-detail" id="select_main">


<div class="tit-heading-wrap">
<h3>영화상세</h3>
</div>
<div class="sect-base-movie">
<h3><strong>강릉</strong>기본정보</h3>
<div class="box-image">
  <a href="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84942/84942_1000.jpg" title="포스터 크게 보기 새창" target="_blank">
      <span class="thumb-image"> 
          <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84942/84942_320.jpg" alt="강릉 포스터 새창" onerror="errorImage(this)">
          <span class="ico-posterdetail">포스터 크게 보기</span>
          <span class="ico-grade grade-19"> 청소년 관람불가</span>
      </span> 
  </a> 
</div>
<div class="box-contents">
  <div class="title"> 
      <strong>강릉</strong>
      <p>Tomb of the River</p>
  </div>
  <div class="score"> 
      <strong class="percent">예매율&nbsp;<span>5.5%</span></strong>         
  </div>
  <div class="spec">
      <dl>
          <dt>감독 :&nbsp;</dt>
          <dd>  
          <a>윤영빈</a>                    
          </dd>
          <dt>&nbsp;/ 프로듀서 :&nbsp;</dt>
          <dd>  
          이찬남                     
          </dd>
          <dt>&nbsp;/ 배우 :&nbsp;</dt>
          <dd class="on">
                  
                  <a>유오성</a>                    
                  
                  ,&nbsp;
                  <a>장혁</a>                    
                  
                  ,&nbsp;
                  <a>박성근</a>                    
                  
                  ,&nbsp;
                  <a>오대환</a>                    
                  
                  ,&nbsp;
                  <a>김준배</a>                    
                  
                  ,&nbsp;
                  <a>이현균</a>                    
                  
                  ,&nbsp;
                  <a>신승환</a>                    
                  
                  ,&nbsp;
                  <a>최기섭</a>                    
                  
                  ,&nbsp;
                  <a>김세준</a>                    
                  
                  ,&nbsp;
                  <a>조현식</a>                    
                  
                  ,&nbsp;
                  <a>송영규</a>                    
                  
                  ,&nbsp;
                  <a>박정학</a>                    
                  
                  ,&nbsp;
                  <a>이채영</a>                    
          </dd>

          <dt>장르 :&nbsp;액션,&nbsp;범죄</dt> 
          <dd></dd>
          <dt>&nbsp;/ 기본 :&nbsp;</dt>
          <dd class="on">청소년 관람불가,&nbsp;119분,&nbsp;한국</dd>
          <dt>개봉 :&nbsp;</dt>
          <dd class="on">2021.11.10</dd>
      </dl>
  </div>
  <span class="like">
    <a class="link-reservation" href="/ticket">예매</a> 
  </span>
  </div>
</div>

<div class="cols-content" id="menu">
  <div class="col-detail">
      <div class="sect-story-movie">
          <div>강릉 최대 조직의 ‘길석’<br>
평화와 의리를 중요시하며 질서 있게 살아가던 그의 앞에<br>
강릉 최대 리조트 소유권을 노린 남자 ‘민석’이 나타난다<br>
&nbsp;<br>
첫 만남부터 서늘한 분위기가 감도는 둘,<br>
‘민석’이 자신의 목표를 위해 본격적으로 움직이기 시작하면서<br>
두 조직 사이에는 겉잡을 수 없는 전쟁이 시작되는데..<br>
&nbsp;<br>
<em><strong>거친 운명 앞에 놓인 두 남자</strong><br>
<strong>11</strong><strong>월, 그들의 이야기가 시작된다</strong></em></div>
      </div>
    </div>
  </div>
